@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.QuestImage{
    width: 600px;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.img-plus-desc {
  padding-top: 5%;
}

.tutorial-txt {
    font-family: "Inter", sans-serif;
    text-align: center;
    padding-bottom: 20px;
}

.tutorial-img {
    padding-top: 5%;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.continue-button {
    background-color: #4899e3;
    border: none;
    color: #191131;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    font-weight: 600;
    border-radius: 40px;
    opacity: 1;
    margin: auto;
    display: block;
    cursor: pointer;
    font-family: "Inter", sans-serif;
  }

  .QuestDescription {
    font-family: "Inter", sans-serif;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
  }

  .quest-body {
    background-size: 100% 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
}

.button-container {
  display: inline-block;
  flex-direction: row;
  justify-content: space-around;
}

.bar-container {
  align-items: center;
  margin: auto;
  font-family: "Inter", sans-serif;
}

.quest-form {
  background-color: hsla(208, 100%, 97%, 0.6);
  align-items: center;
  text-align: center;
  border-radius: 40px;

  width: 500px;
  height: 450px;

  position: absolute;
  top:  15%;
  left: 32.5%;
}

.quest-button {
  background-color: #EE953B;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-weight: 600;
  border-radius: 40px;
  opacity: 1;
  margin: auto;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}